<!DOCTYPE html>
<html ng-app="TTTApp">
<head>
    <title>TTT REFERENCE STEP 1</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="style.css"> 
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script> 
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <!--App  --> 
    <script src="main.js"></script>
    <!-- Orbitron Font -->
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="TTTController">
    <div class="game">  
      <div class="centerText">
        <h3>Yeah. An "Aliens" movie-themed tic tac toe game. Choose to play as either the "Badass" Colonial Marines or the Cute and Cuddly Xenomorph Aliens. Take turns trying to get three in a row on the playing field below!</h3>
      </div>
      <div>
        <!-- <p>CLICK COUNTER: {{gameContainer.movecounter}}</p> --> <!-- for visual testing -->
        <!-- <p>First Turn COUNTER: {{gameContainer.goesFirstCounter}}</p> --> <!-- for visual testing -->
        <div class="playerSwitch">
          <button ng-click="switchFirst()" ng-disabled="gameContainer.turnOff">SWITCH WHO WILL STRIKE FIRST!</button>
          <h3>{{gameContainer.displayString}}</h3>
        </div>
        <div class="marines"> <!-- Marines Scoreboard -->
          <div><h3>Marines' Score: {{gameContainer.p1score}}</h3></div>
        </div>
        <div class="aliens"> <!-- Aliens Scoreboard -->
          <div><h3>Xenomorphs' Score: {{gameContainer.p2score}}</h3></div>
        </div>

        <div class="theBox">
            <div ng-repeat="currentCell in gameContainer.cellList">
                <div class="allCellsAlways" ng-click="playerPicks(currentCell)"
                ng-class="{xclass: currentCell.status=='X', oclass: currentCell.status =='O', empty: (currentCell.status != 'X' && currentCell.status != 'O')}">
                </div>
            </div>
        </div>

        <div class="resetBoard">
          <button ng-click="reset()">RESET THE BATTLEFIELD</button>
          <button ng-click="resetScore()">RESET THE SCORE/GAME</button>
        </div>
        
        <!-- Displays ending Image/Gif depending on Winner or Tie -->
        <div class="endResult">
          <div class="display"><h3>{{gameContainer.testString}}</h3></div> <!-- Displays Who Won this Round -->
          <!-- Following 3 Divs display different images at the end of each round depending on winner. -->
          <div id = "imageX" ng-show="gameContainer.xwinGif">
          </div>
          <div id = "imageO" ng-show="gameContainer.owinGif">
          </div>
          <div id = "imageTie" ng-show="gameContainer.tieGif">
          </div>
        </div>
        <div class="motionTracker">
          <h3 id="motionTitle">Pvt. Hudson's Motion Tracker Audio</h3>
          <p id="description">Press play to add some suspense!</p>
          <div class="music">
            <audio controls>
              <source src="music/hudsonMT.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
      </div>
        
      </div>
    </div>

</body>
</html>