html, body {
  height: 100%;
  margin:0;
  text-align: center;
}
.instructions {        
    height:100%;
    background-color: gray;
}
.game {
  height: 100%;
  background-color: white;
}
p{
  margin: 0;
}
.theBox {
  width: 468px;
  height: 468px;
  margin: auto;
    border-style: solid;
    border-color: red;
}

.allCellsAlways {
    width: 150px;
    height: 150px;
    display: inline-block; /*This helps make the 3 rows*/
    float: left; /*second line as mentioned above*/
    margin: 0px ;
    padding: 0px ;
    border-style: solid;
    border-color: blue;
}

.xclass {
  /*background-color: red ;*/
  background: url('images/letterx.jpg');
  background-size: 150px 150px;
}

.oclass {
  /*background-color: blue ;*/
  background: url('images/lettero.jpg');
  background-size: 150px 150px;
}

.empty {
  background-color: gray;
}

.blankclass {
  background-color: gray ;
}

#moveDown {
 padding: 20px;
}